.projets{
    height: 101vh;
}

.navlinks-projets{
    text-align: center;
    margin-bottom: 30px;
}

.projets-title>h1{
    text-transform: uppercase;
    justify-content: center;
    padding-top: 150px;
    background: -webkit-linear-gradient(50deg, #D05F5E, #EC6D53);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 72px;
}

.trait-left-projets{
    z-index: 1;
    width: 10px;
    height: 70%;
    background-color: #EC6D53;
    margin-left: 50px;
    margin-top: 150px;
    margin-right: 50px;
    transition: 1s;
}

.allProjets{
    width: 100%;
    margin: auto;
    justify-content: center;
    margin-top: 100px;
    color: white;
}

#arrow-right-projet{
    color: #EC6D53;
    height: 40px;
    width: 40px;
}

.projet-link{
    align-self: flex-end;
}

.projet-container{
    background: #0C0C0C;
    display: flex;
    width: 70%;
    margin: auto;
}

.projet-image{
    width: 100%;
    height: 400px;
    object-fit: cover;

}

.projet-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    justify-self: center;
    padding: 15px;
}

.projet-name{
    font-weight: bold;
    font-size: 30px;
    color: white;
    text-transform: uppercase;
    border-bottom: 0.5px solid white;
    padding-bottom: 10px;

}

.projet-description{
    font-size: 20px;
}

.projet-languages{
    margin-top: 20px;
}

.projet-languages>p{
    font-size: 20px;
    max-width: 380px;
}

.button-container{
    margin-bottom: 30px;
}

#button-container-projet{
    text-align: right;
}

#flex-container-projet{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.projet-languages-logos{
    display: flex;

}

.language-logo{
    margin-top: 30px;
    margin-right: 20px;
    height:  50px;
}

#buttons-project-container{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

#buttons-project-container>button{
    margin: 20px;
    background: none;
    border: none;
    color: white;
    font-size: 30px;
}

#buttons-project-container>button:focus{
    outline: none;
}

.div-number-container{
    display: flex;
    color: white;
}

#buttonProject0{
    color: #EC6D53;
}

.buttonProject{
    height: 30px;
    align-self: center;
    margin: 5px;
}

.buttonProject>svg{
    font-size: 20px;
    transition: 0.5s;

}

#changeProjetMinus,#changeProjetPlus{
    transition: 0.5s;
}

#changeProjetMinus:hover,#changeProjetPlus:hover{
    cursor: pointer;
    color: #EC6D53;
    transition: 0.5s;
}

.buttonProject>svg:hover{
    cursor: pointer;
    color: #EC6D53;
    
}

.section-projets-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

@media  (max-width: 640px){
    .navlinks-projets>.button-container{
        width: auto;
        margin-bottom: 0px;
    }

    .projets{
        width: 100vw;
        overflow-x: hidden;
    }

    .trait-left-projets{
        width: 5px;
        margin-left: 10px;
        margin-right: 0px;
        margin-top: 100px;
    }

    .projet-image{
        width: auto;
        height: 150px;
    }

    .projet-container{
        flex-direction: column;
        width: 300px;
        margin: auto;
        height: 325px;
    }

    .projet-content{
        width: auto;
        height: 100%;
    }

    .allProjets{
        margin-top: 40px;
   }

    .projet-name{
        font-size: 16px;
    }

    .projet-description{
        font-size: 13px;
    }

    #flex-container-projet{
        margin-top: 0;
    }

    .projet-languages{
        margin-top: 0;
    }

    .language-logo{
        height: 25px;
        margin-top: 0px;
    }

    .section-projets-container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        height: 100vh;
    }

    .projets-title>h1{
        text-align: center;
        font-size: 30px;
        padding-top: 100px;

    }

    #arrow-right-projet{
        height: 30px;
        width: 30px;
    }

    #buttons-project-container{
        margin-top: 0px;
    }

    #buttons-project-container>button{
        font-size: 25px;

    }

    .buttonProject{
        height: auto;
    }

    .buttonProject>svg{
        font-size: 15px;
    }

    .navlinks-projets{
        align-items: center;
        justify-self: center;
        margin-top: 0px;
        margin-bottom: 30px;

    }

    .projet-content{
        padding: 10px;
        padding-bottom: 0px;
    }

    .projets-container{
        display: flex;
        flex-direction: column;
    }
}

@media  (min-width: 640px) and (max-width: 1024px){
    .projet-container{
        flex-direction: column;
        height: 525px;
    }

    .allProjets{
        margin-top: 50px;
    }

    .projet-image{
        height: 200px;
        width: auto;
    }

    .projet-content{
        width: auto;
        height: 100%;
    }

    .projets-title>h1{
        font-size: 50px;
    }

    .projet-description{
        margin-top: 20px;
        font-size: 18px;
        font-weight: 400;
    }

    .language-logo{
        margin-top: 0px;
    }

    .projet-languages{
        margin-top: 0px;
    }
}


@media (max-width: 1024px) and (min-height: 1366px) {
    .section-projets-container{
        justify-content: space-around;
    }

    .projets-title>h1{
        font-size: 72px;
    }

    .projet-container{
        height: 700px;
    }

    .projet-description{
        font-size: 25px;
    }

    .projet-content{
        height: 100%
    }


    #buttons-project-container>button{
        font-size: 50px
    }

    .buttonProject{
        margin: 10px;
    }

    .buttonProject>svg{
        font-size: 30px;
    }
}


@media (max-width:1600px){
    .projets-title>h1{
        font-size: 50px;
    }

    .projet-image{
        height: 350px;
        max-width: 500px;
    }
    
    .projet-name{
        font-size: 25px;
    }

    .projet-description{
        font-size: 15px;
    }
}