.presentation{
    height: 100vh;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.navlinks-presentation{
    margin-bottom: 30px;
    text-align: center;
}

#presentation-container{
    display: flex;
    padding-top: 150px;
}

#presentation-content, .competences-content{
    max-width: 80%;
    margin-left: 50px;
}

#presentation-content>h1, .competences-content>h1{
    text-transform: uppercase;
    font-size: 60px;
  background: -webkit-linear-gradient(50deg, #D05F5E, #EC6D53);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#presentation-content>p{
    margin-top: 50px;
    font-size: 25px;
    font-weight: 400;
    line-height: 40px;
    color: white;  
}

.presentation-trait{
    width: 5px;
    background: linear-gradient(#D05F5E, #EC6D53);
    margin-left: 50px;

}

#buttons-container{
    display: flex;
    justify-content: space-around;
    margin-top: 150px;
}

#button-see-project{
    max-width: 400px;
    color: white;
    border: solid 5px;
    border-image: linear-gradient(#D05F5E, #EC6D53) 27;
    padding: 10px;
    background-color: #0C0C0C;
}

#button-see-project>h3{
    color: #EC6D53;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
    
}


.button-content{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.button-content>p{
    color: white;
    font-size: 20px;
    max-width: 80%;
}

.button-content>button{
    background-color: #0C0C0C;
    border: none;
}

.button-content>button:hover{
    cursor: pointer;
}

#arrow-right{
    color: #EC6D53;
    height: 40px;
    width: 40px;
}

.button-content>button:focus{
    outline: 0;
}

#competences-container{
    display: flex;
    margin-top: 100px;
}

.competences-logos{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.logo-competence>img{
    height: auto;
    width: 100px;
    margin-right: 100px;

}



@media  (max-width: 640px){

    #presentation-container{
        padding-top: 100px;
    }

    #competences-container{
        margin-top: 50px;
    }

    #presentation-content, .competences-content{
        max-width: auto;
        margin-left: 0px;
    }

    .presentation-trait{
        width: 5px;
        margin-left: 10px;
        margin-right: 30px;

    }

    #presentation-content>h1, .competences-content>h1{
        font-size: 30px;
    }

    #presentation-content *{
        overflow-y: scroll;
    }

    #presentation-content>p{
        margin-top: 20px;
        font-size: 15px;
        color: white;  
        line-height: 22px;
        overflow-y: scroll;
    }

    #buttons-container{
        margin: auto;
        justify-content: space-around;
        transition: 1s;
        margin-top: 75px;
    }

    #button-see-project{
        margin-top: 30px;
        width: 30%;
    }

    #button-see-project>h3{
        font-size: 17px;
    }

    .button-content{
        flex-direction: column;
    }

    .button-content>p{
        font-size: 13px;
        max-width: none;
    }

    #arrow-right{
        height: 30px;
        width: 30px;
    }

    .competences-logos{
        margin-top: 20px;
    }

    .logo-competence>img{
        margin-top: 20px;
        height: auto;
        width: 40px;
        margin-right: 30px;
    }

    .navlinks-presentation>.button-container{
        width: 300px;
    }

  }

@media (min-width: 640px) and (max-width: 1024px) {
    #presentation-content>h1, .competences-content>h1{
        font-size: 50px;
    }

    #presentation-content>p{
        font-size: 22px;
        line-height: 32px;
        margin-top: 25px;
    }


    .logo-competence>img{
        width: 75px;
        margin-right: 50px;
        margin-top: 50px;
    }

    .competences-logos{
        margin-top: 0px;
    }
}

@media (max-height: 700px) {
    #presentation-content>p{
        line-height: 20px;
        font-size: 13px;
    }
}

@media (max-height: 600px) {
    .presentation *{
        overflow-y: scroll;
    }
}

@media (width: 1024px) and (max-height: 1366px) {
    #presentation-content>h1, .competences-content>h1{
        font-size: 72px;
    }

    #presentation-content>p{
        font-size: 30px;
        line-height: 40px;
    }


    .logo-competence>img{
        width: 90px;
        margin-right: 75px;
        margin-top: 50px;
    }
}

@media (max-height: 700px) {
    #presentation-content>p{
        line-height: 20px;
        font-size: 13px;
    }
}

@media (max-height: 600px) {
    .presentation *{
        overflow-y: scroll;
    }
}