#navbar{
    width: 100%;
    background-color: #0A0A0A;
    display: flex;
    padding: 20px 0px;
    color: white;
    border-bottom: 5px solid #EC6D53;
    justify-content: space-between;
    position: fixed;
    transition:  1s;
    align-items: center;
    top: 0;
    z-index: 100;
}

#navbar>img{
    width: 75px;
    height: 75px;
    margin-left: 100px;
    transition: 0.5s;
}

#navbar>ul{
    align-items: center;
    width: 50%;
    list-style: none;
    justify-content: space-around;
    font-size: 30px;
    transition: 0.5s;

}

.navLinks>li:hover{
    cursor: pointer;
}

@media  (max-width: 640px){
    #navbar{
        display: none;
    }
  }