.competences{
    height: 100vh;
    background-color: #1F1F1F;
    overflow: auto !important;

}

.competences-section{
    display: flex;
    padding-top: 150px;
}

.navlinks-competences{
    margin-top: 100px;
    text-align: center;
}

.competence-trait{
    width: 10px  !important;
    background: linear-gradient(#D05F5E, #EC6D53);
    margin-left: 50px;
}

.competences-container{
    margin-left: 50px;
    width: 100%;
}

.competences-container>p{
    color: #EC6D53;
    font-size: 72px;
}

.competences-list-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.competences-images-avance{
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.competences-images-avance:last-child{
    margin-right: 100px;
    
}

.competences-list-avance>p{
    color: white;
    font-size: 50px;
    margin-top: 50px;
    padding-bottom: 10px;
    border-bottom: solid 1px white;
    display: inline-block;
}

.competences-image{
    width: 150px;
    margin-top: 75px;
}